%% -*- mode: erlang -*-
[
    {comet, [

    ]},
    {mochiweb, [
        {port, 8000},
        {log_dir, "priv/log"}
   ]},
   {emysql, [
         {default_timeout, 5000},
         % 连接池名
         {poolname, eqitong_analysis}, % 默认易企通MySQL poolname

         % MySQL server
         {poolsize, 1},
         {user, "root"},
         {passwd, "sa"},
         {host, "192.168.0.9"},
         {port, 3306},
         {db, "eqitong_blacklist"},
         {encode, utf8}

   ]},
   %% common error logger(日志处理系统)
   {cel, [
         {path, "/home/gordon/log/"}, % 日志目录(注意确保有此目录)
         {log_type, console}, % 默认打印类型
         {log_level, warning}  % 默认打印级别
   ]},
   {erldis, [
		{host, "192.168.0.9"},
        {port, 6379},
        {timeout, 500}
	]},
    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]}
].

